@import "./../../assets/styles/colors";

@mixin card($type_color: $purple) {
  width: auto;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 5px;
  text-align: left;
  padding: 0.7rem;
  // border-bottom: 2px solid $type_color;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  .card-type {
    font-weight: 700;
    color: $type_color;
    font-size: 0.7rem;
  }
  .card-title {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0.2rem 0;
  }
  .card-to {
    display: flex;
    .user {
      background-color: $blue;
      border: 2px solid white;
      width: fit-content;
      width: 0.8rem;
      height: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 700;
      font-size: 0.9rem;
      padding: 0.3rem;
      border-radius: 50%;
      margin: 0.3rem 0;
      margin-right: -7px;
    }
  }
  .desc {
    margin: 0.3rem 0;
    color: $dark-grey;
    font-size: 0.7rem;
    display: flex;
  }
}

.card {
  @include card($purple);
}
.bug {
  @include card($red);
}
.task {
  @include card($blue);
}
.feature {
  @include card($yellow);
}
