@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

@import "./assets/styles/colors";
@import "./assets/styles/buttons";

p,
h1,
h2,
h3,
span {
  color: $dark;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: $background;
}
