@import "./colors";

@mixin button($color: $blue) {
  min-width: 150px;
  padding: 0.71rem 1rem;
  background-color: $color;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: $color 0px 2px 8px 0px;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:disabled {
    background-color: rgba($color: $color, $alpha: 0.5);
    color: rgba($color: $color, $alpha: 0.3);
    cursor: not-allowed;
  }
  &:hover {
    background-color: rgba($color: $color, $alpha: 0.85);
  }
}

.primary-button {
  @include button;
}

.secondary-button {
  @include button($purple);
}

.link-button {
  @include button($yellow);
}
.btn-content {
  font-size: 1.2rem;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;
  color: white;
  font-weight: 500;
}
.logout {
  height: 30px;
  padding: 0;
  font-size: 10px;
  .btn-content {
    font-size: 1rem;
  }
}
.loading {
  display: flex;
  position: relative;
  width: fit-content;
  .ball-1,
  .ball-2 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: relative;
    background-color: white;
  }

  .ball-1 {
    animation: ball1Animation 1s infinite cubic-bezier(0.8, -0.5, 0.2, 1.4);
  }
  .ball-2 {
    animation: ball2Animation 1s infinite cubic-bezier(0.8, -0.5, 0.2, 1.4);
  }
}

@keyframes ball1Animation {
  0% {
    right: 0px;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 0px;
  }
}
@keyframes ball2Animation {
  0% {
    left: 0px;
  }
  50% {
    left: -10px;
  }
  100% {
    left: 0px;
  }
}
