form {
  text-align: left;
  margin: 1rem auto;
  .inputGroup {
    margin: 1.5rem 0;
    label {
      margin: 0.5rem 0.2rem;
    }
    input,
    select {
      width: 95%;
      font-size: 1rem;
      padding: 0.7rem 0.7rem;
      border-radius: 10px;
      border: 0px solid $blue;
      background: $light-grey;
      margin-top: 0.5rem;

      &:focus {
        border: 1px solid $blue;
        outline: none;
        box-shadow: rgba(62, 204, 254, 0.2) 0px 2px 8px 0px;
      }
      &::placeholder {
        color: rgba($color: $dark, $alpha: 0.3);
      }
    }
  }
  button {
    margin: 0 auto;
    width: 100%;
  }
  .error {
    input {
      border: 1px solid red !important;
    }
    p {
      color: red;
      font-size: 0.7rem;
      margin: 0.2rem;
    }
  }
}
